body
{
    text-align: center;
}
*
{
    font-family: 'Comfortaa';
}
#voltar
{
    
    color:#c0262c;
    height: 50px;
    width: 100px;
    text-shadow: none;
}
#voltar:hover
{
    background:rgb(207, 127, 7);
    color: white;
    font-size: 25px;
}