h2
    {
        background-color: #c0262c;
        background-image: url(../multimidia/importante-saber.jpg), url(../multimidia/back-bolinha.gif);
        background-repeat: no-repeat, repeat;
        background-position: center right, center center;
        width: 470px;
        padding: 61px 400px 61px 100px;

        color: #ffffff;
        font-size: 2.5em;
        letter-spacing: .1em;

    }
    figcaption
    {
        background-color: #c0262c;
        padding: 7px 0;
        color: #ffffff;
        font-size: 1.5em;
    }
    figure
    {
        border: #c0262c solid thin;
        border-radius: 35px 35px 0 0;
        padding: 20px 0 0 ;
        text-align: center;
    }
    ul li
    {
        list-style-type: none;
        list-style-image: url(../multimidia/ossinho.png);
        list-style-position: inside;
        margin: 30px 0;
    }
    dt
    {
        color: #ffffff;
        background-color: #c0262c;
        padding: 7px;
    }
    dd
    {
        border: thin #c0262c solid;
        border-radius: 0 0 25px 25px;
        margin-top: -3px;
        margin-bottom: 30px;
        padding: 20px 20px 0 ;
        margin: 0;
    }    
    ol
    {
        list-style-type: none;
        white-space: pre;
        line-height: .9em;
        /* definir a variavel de contagem */
        counter-reset:contador;
    }
    ol li:before
    {
        color: #999999;
        /* incrementar a variavel em 1*/
        counter-increment: contador;
        /* Usar o numero do contador como conteudo */
        content: "Questão " counter(contador) " \00BB";
    }
    ul li a
    {
        text-decoration: none;
        color: #c0262c;
        font-weight: bold;
        padding: 7px;
    }
    ul li a:hover
    {
        text-decoration: underline;
    }
    dd a[target="_blank"]
    {
        text-decoration: none;
        
        font-weight: bold;
        padding: 7px;
        display: inline-block;
    }
    dd a[target="_blank"]:hover
    {
        text-decoration: underline;
    }
    dd a[href="#top"]
    {
        text-decoration: none;
        color: #c0262c;
        font-weight: bold;
        padding: 7px 0 7px 30px;
        background: url(../multimidia/seta-voltar.png) no-repeat left center;
    }
    dd a[href="#top"]:hover
    {
        text-decoration: underline;
        background-color: url(../multimidia/seta-voltar-hover.png) no-repeat left center;
    }